@charset "UTF-8";

 /* Typical Device Breakpoints(2026):
-------------------------------------
    Pequenas telas: até 600px
    Celular: até 768px
    Tablet: até 1023px
    Desktop: até 1439px
    TV: maior que 1440px
*/


@media screen and (min-width: 768px)
{
    span#burguer
    {
        display:none;
    }

    #itens
    {
        display: block;
    }

    menu ul
    {
        margin: 10px 1vw 0px 3vw;
        display: block;
    }

    menu ul li
    {
        display: inline-block;
        border-top: 1px solid rgb(48, 48, 48);
        border-left: 3px solid rgb(48, 48, 48);
        border-right: 3px solid rgb(48, 48, 48);
        border-bottom: 3px solid rgb(48, 48, 48);
        width: 18vw;
        
    }

    menu ul li:hover
    {
        border: 3px solid white;
    }

    main
    {
        width: 768px;
    }
}



